<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SEMODS_Mongo</display-name>
  <context-param>
    <param-name>Mongo_Host</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>Mongo_Port</param-name>
    <param-value>27017</param-value>
  </context-param>
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGroups</servlet-name>
    <servlet-class>AddGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroups</servlet-name>
    <url-pattern>/AddGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateGroups</servlet-name>
    <servlet-class>UpdateGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGroups</servlet-name>
    <url-pattern>/UpdateGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAssociate</servlet-name>
    <servlet-class>AddAssociate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAssociate</servlet-name>
    <url-pattern>/AddAssociate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcceptRequest</servlet-name>
    <servlet-class>AcceptRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptRequest</servlet-name>
    <url-pattern>/AcceptRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMembers</servlet-name>
    <servlet-class>AddMembers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMembers</servlet-name>
    <url-pattern>/AddMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveMembers</servlet-name>
    <servlet-class>RemoveMembers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMembers</servlet-name>
    <url-pattern>/RemoveMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpload</servlet-name>
    <servlet-class>UserUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpload</servlet-name>
    <url-pattern>/UserUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupUploads</servlet-name>
    <servlet-class>GroupUploads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupUploads</servlet-name>
    <url-pattern>/GroupUploads</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDownloads</servlet-name>
    <servlet-class>UserDownloads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDownloads</servlet-name>
    <url-pattern>/UserDownloads</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupDownloads</servlet-name>
    <servlet-class>GroupDownloads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupDownloads</servlet-name>
    <url-pattern>/GroupDownloads</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFile</servlet-name>
    <servlet-class>DeleteFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFile</servlet-name>
    <url-pattern>/DeleteFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFile_G</servlet-name>
    <servlet-class>DeleteFile_G</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFile_G</servlet-name>
    <url-pattern>/DeleteFile_G</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Cloud Directory</description>
    <param-name>filePath</param-name>
    <param-value>
  		/home/rockstar/workspace/SEMODS_Mongo/CloudDB/
  	</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>